body{
    background: #2f4f4f;
    font: normal 15pt Arial;
}

header{
    color: white; 
    text-align: center;
}

section{
    background-color: white;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.527);
    padding: 15px;
}

#formspace{
    width: 350px;
    /* border: 1px solid black; */
    margin: auto;
    text-align: center;
}

#formspace div{
    width: 100%;
}

#formspace label{
    float: left;
}

#formspace input{
    float: right;
}

#button{
    text-align: center;
}

#button button{
    font-size: 20px;
}

#signup{
    margin-top: 15px;
    border-top: 1px solid #2f4f4f;
    text-align: center;
    padding: 15px;
}

#signup a{
    text-decoration: none;
}

footer{
    color: white; 
    text-align: center;
    font-style: italic;
}

